*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;

}
nav > ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
}
.nav-title{
    padding: 0px;
}

nav li{
    list-style: none;
    margin-right: 0px 
    
}
.primary-button{
    color:  #FFF;
    background-color: #FD6E0A;
    border-radius: 2px;
    font-size: 20px;
    border: 0px;
    
}
header{
    background: #FFF8F3;;
}

/* header style end */

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}
.picture{
    width: 504px;
    height: 600px;
    background: url(<path-to-image>), lightgray -192.573px 0px / 173.656% 100% no-repeat;
    
}
